/* Colors */
:root {
--mainBackgroundColor: rgb(13, 59, 102);
--mainPageBackgroundColor: rgb(250, 240, 202);
--SecondaryColor: rgb(244, 211, 94);
--headerAndFooterColor: white;
}




/* General Styles */ 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--mainBackgroundColor);
    overflow-x: hidden; 
}

header {
    background-color: var(--mainBackgroundColor);
    color: var(--headerAndFooterColor);
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    flex-shrink: 0; 
    z-index: 1000; 
}

body main {
    background-color: var(--mainPageBackgroundColor);
    color: black;
    width: 90%;
}

/* HZ Logo*/
.logo {
    width: 250px; 
    height: auto; 
    position: absolute;
    top: 15px; 
    left: 15px; 
}


/* navigation layout */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--mainPageBackgroundColor);
    top: 0;
    width: 100%;
    font-size: 20px;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: var(--SecondaryColor);
    color: black;
}

.active {
    background-color: var(--SecondaryColor);
}

/* Layout Styles */
.content-wrapper {
    display: flex;
    flex: 1;
    padding: 10px;  
}

main {
    width: 85%;
    padding: 10px;
    background-color: white;
}

/* Footer Styles */
footer {
    background-color: var(--mainBackgroundColor);
    color: var(--headerAndFooterColor);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 20px;
}

/* Dashboard Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: grey;
}

.completed {
    background-color: lightgreen;
}

.not-completed {
    background-color: lightcoral;
}

/* Aside menu */
aside {
    width: 8%;
    background-color: var(--SecondaryColor);
    color: black;
    padding: 10px;
    font-size: 18px;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin: 20px 0;
    
}

aside ul li a {
    text-decoration: none;
    color: blue;
    font-size: 14px;
}

aside ul li a:hover {
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

/* Main section conent */
.section-content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.text-content {
    flex: 2;
    font-size: 20px;
}

/* Style for the image */
.section-content img {
    flex: 1;
    max-width: 20%;
    height: auto;
    border-radius: 10px;
}

/* EC progress-bar */
.container {
    margin-top: 20px;
}

.progress-bar-background {
    width: 100%;
    background-color: white;
    border: 1px solid white;
    height: 30px;
    border-radius: 5px;
}

.progress-bar {
    height: 100%;
    background-color: lightgreen;
    width: 0%;
}

/* Style for the summary */
summary {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}
  
/* Style for the details */
details {
    margin-bottom: 50px;
}
   
details p {
    margin-left:20px;
}